<!--In conclusion...write 3 headings, each of which is something you learned about you and your creativity,
through the process of doing this course. Write a bit about each of the 3 headings (and maybe where you'd like to
take it next-->
<template>
    <div class="conclusion main-content">
        <div class="content-col col1">
            <h1>I have learned to trust myself</h1>
            <p>One thing that I usually struggled with before now is not allowing myself to fully realize
                a creative idea before dismissing it as a bad idea. This has made for a very toxic process
                where some of my best ideas will never come to light. Moving forward, I want to continue the 
                process of allowing myself the freedom to, and trusting myself to complete an idea before
                I dismiss it.
            </p>
        </div>
        <div class="content-col col2">
            <h1>I have learned how to take care of myself</h1>
            <p>The one class that really resonated with me was the self-care one with Amanda Lederle. 
                I do have a large problem with taking the time to take care of myself. I often push way
                too hard, get burnt out, get disappointed that I am being unproductive, and enter into
                a vicious cycle of disappointment. Realizing that it is healthy, and actually much better
                for the creative product to take time off and take care of myself was a huge revelation.
                Since that class, I have made it a goal to improve that in every part of my creative life.
            </p>
        </div>
        <div class="content-col col3">
            <h1>I have learned to place a greater importance on the creative process</h1>
            <p>Developing a good creative process is very important. It is also something
                that is very personal. Developing that for myself will absolutely help to 
                continue improving, continue making better project, and continue taking things
                to the next level. 
            </p>
        </div>
    </div>
</template>

<style>
.conclusion{
display: grid;
grid-template-columns: 33% 33% 33%;
padding:3em;
box-sizing: border-box;
align-content: center;
}
.content-col{
    padding:2em;
}
</style>
