<template>
  <div class="inspiration">
    <div class="ctr">
      <h1>Where I Get Inspiration</h1>
      <p>Inspiration for me comes in a couple different forms. The most common are other pieces within the New Media/tech art space. I also tend to look to other similar pieces for inspiration on themes. While creating a project, I usually find a playlist of music that will allow me to keep in the groove, so my projects tend to take on some facets of those songs.</p>
    </div>
    <inspiration-works v-for="n in 14" :key="n" img1="https://i.imgur.com/BHPUd0d.jpg" img2="https://i.imgur.com/aUhpEz3.jpg" leftText="Testing" rightText="Testing"></inspiration-works>
  </div>
</template>
<script>
import InspirationWorks from '../components/InspirationWorks.vue';
// todo add in a bunch of works
export default {
    components:{
        InspirationWorks
    }
};
</script>
<style lang="scss" scoped>

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.inspiration{
  display:grid;
  grid-template-columns: repeat(5,20%);
  grid-template-rows: repeat(4,25%);
  position:fixed;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  background: #000;
  color: #fff;

  .ctr {
    padding:2em;
    grid-column:2/span 3;
    grid-row:2/span 2;
    background: linear-gradient(to bottom right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 24px;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: center;
    h1{
      font-family: 'Playfair Display';
      font-weight: 400;
      font-size:50px;
      margin:0;
    }
    p{

      text-align: justify;
    }
    
  }

}
</style>