<template>
    <div class="minimal main-content">
        <div class="left">
            <h1>Minimalism</h1>
            <p>Open-ness. Honesty. Vulnerability. Maybe less so the last one. These are all things that I do by default in my works. I am a 
                huge proponent of open source software, open source artwork, open source everything. My code for most of my creative projects,
                (assuming it is something that has code), has always been open source. Rather than vulnerability, I feel freedom. Freedom to 
                make mistakes, freedom to show these mistakes to the world, and most of all, freedom to have peers be able to see my process, 
                and give me feedback. Yes, by doing this I will get lots of people criticizing my every character, and while sometimes this 
                feedback is unnecessarily cruel, often there are things that I can extract from it to improve. When I was starting, my programming
                was unbelieviably bad. Unnecessarily complex, inefficient, and hard to read, even for veterans of the language I was writing in.
                By opening up my projects, publishing the source code publicly, I was able to get help from the community, I was able to learn. 
                I think this freeing feeling, allowing oneself to let go of the vulnerability of opening up projects for the masses to see, and 
                allowing everyone to learn from your mistakes, and help you learn alongside is why there has been a huge shift to Open Source recently.
                Even large tech conglomerates, <a href='https://github.com/microsoft'>Microsoft</a>, <a href="https://opensource.google/">Google</a>, and
                even the famously closed down <a href="https://developer.apple.com/opensource/">Apple</a> have massively embraced this way of working.
            </p>
        </div>
        <div class="right">
            <div class="open-source-project">
                <h1>Mythic Table</h1>
                <a href="http://www.mythictable.com">Main Website</a><br />
                <a href="https://gitlab.com/mythicteam/mythictable">Main Repository</a>
            </div>
            <div class="open-source-project">
                <h1>This Website</h1>
                <a href="https://gitlab.com/honest3d/cri-website">Main Repository</a>
            </div>
            <div class="open-source-project">
                <h1>Advent of Code 2020 (Participant)</h1>
                <a href="http://www.adventofcode.com">Main Website</a><br />
                <a href="https://github.com/lucasteng123/advent-of-code-2020">Main Repository</a>
            </div>
            <div class="open-source-project">
                <h1>Ctrl-Q</h1>
                <a href="https://honested.itch.io/gmtk-2020">Main Website</a><br />
                <a href="https://bitbucket.org/Honest3d/jamgame/src/master/">Main Repository</a>
            </div>
        </div>
    </div>
</template>


<style lang='scss'>

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');
body{
    background: #fff;
}
.left{
    padding-left: 5vw;
    padding-right: 2em;
    overflow-y: auto;
}

.minimal{
    width:90vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap:10vmin;
    padding-top:5em;
    font-family: 'Work Sans', sans-serif;
    color:#000;
    text-align: justify;
    box-sizing: border-box;
    h1 {
        font-family: 'Work Sans', sans-serif;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 8px;
    }
}
.open-source-project{
    box-sizing: border-box;
    padding:2em;
    width:100%;
    margin: 3em 0;
    box-shadow: 0 0 20px #00000011;
    position:relative;
    border-radius:1em;
    h1{
        font-size:24px;
        font-weight: 400;
        letter-spacing: 4px;
    }
}
</style>