<!-- Imagine a kickstarter or patreon campaign for your creative work. What might you offer?-->
<template>
    <div class="money main-content">
        
        <div class="money-background">
            <div v-for="(c,index) in currencyArray" :key='index'>{{c}}</div>
        </div>
        <div class="money-song">
            <iframe width="100%" height="100" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/34647713&color=%2324181f&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=true&visual=false"></iframe> 
        </div>
        <div class="main-text">
            <h1>Making Money</h1>
            <p>Thinking about crowd-sourcing money has always intimidated me. 
                The concept for me of paying for a potential project that may or may not happen, despite
                a creator's best intentions is bizarre. It has had a lot of success, but it has also been plagued with
                many failures. Patreon, however, seems like a much more sane concept. The idea that month to month, 
                you pay for a creative to create, and you can reap the rewards of that is a very good one in my opinion. 
                So, what would I offer on Patreon? What would people be interested in? I personally am subscribed to 2 different
                patreons right now, <a href="https://www.patreon.com/dynamicdungeons">Dynamic Dungeons</a>, who create CG battle
                maps for D&D and other tabletop games, and <a href="https://www.patreon.com/mythictable">Mythic Table</a> who (I'm helping)
                make a virtual tabletop. One uses patreon as their main vector to get things out into the world, and the other uses it to merely
                fund hosting space for a free product, that is available to the masses. Two very different approaches. I would probably offer
                something inbetween those. Use Patreon as a space for experimentation, throw up experimental projects that I don't want out in the 
                open source community as a whole. The other potential option is to do patron code/art/whatever reviews, where I critique
                and offer support to a paying community. 
            </p>
        </div>
    </div>
</template>

<style lang="scss">
.money{
    background:#1c1c1c;
    display:flex;
    align-items: center;
    justify-content: center;
}
.money-song{
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
}
.main-text{
    color:#fff;
    background: #1c1c1ca6;
    width:60vw;
    max-height:70vh;
    overflow-y: auto;
    z-index: 1000;
    position: relative;
    a{
        color:#fff;
    }
}
.money-background{
    width: 100vw;
    height: 100vh;
    position:fixed;
    display: grid;
    grid-template-columns: repeat(16,(100%/16));
    grid-template-rows:repeat(10,(100%/10));
    align-items: center;
    justify-items: center;
    user-select: none;
    div{
        font-size: 5vh;
        color: #00000062;
    }
}
</style>

<script>
import money from './money.json';
export default {
    data(){
        return {
            currencyArray:[]
        };
    },
    methods:{
        randomCurrency(){
            return money[Math.floor(Math.random()*money.length)];
        }
    },
    created(){
        for(let i=0; i<160; i++){
            this.currencyArray.push(this.randomCurrency());
        }
    }

};
</script>