<template>
    <div class="networking main-content">
        <vue-particles
            color="#dedede"
            :particleOpacity="0.7"
            :particlesNumber="80"
            shapeType="circle"
            :particleSize="4"
            linesColor="#de00ae"
            :linesWidth="2"
            :lineLinked="true"
            :lineOpacity="0.6"
            :linesDistance="150"
            :moveSpeed="3"
            :hoverEffect="true"
            hoverMode="grab"
            :clickEffect="true"
            clickMode="push"
            class="particles"
        />
        <div class="networking-text">
            <span class='response-header'>HTTP/1.1 200 OK<br/>
            Date: {{timestamp}}<br/>
            Content-Encoding: gzip<br>
            Content-Type: text/html; charset=utf-8
            </span>
            <h1><span class="grey">{{escapedHTMLTag('h1',false)}}</span>Networking<span class="grey">{{escapedHTMLTag('h1',true)}}</span></h1>
            <p>Exactly contrary to what I was saying in the <span class="grey">{{escapedHTMLTag('a')}}<router-link to="/the-abyss">post from last week</router-link>{{escapedHTMLTag('a',true)}}</span>, 
            I find networking to be extremely important. I am constantly in the process of extending my network. Something I find very
            important to that initiative is not being above doing volunteer work, especially volunteer work in my chosen circles. I find
            that the contacts that you make will not only help you get into jobs and opportunities, but will also be quick to help inspire
            and help you in projects. That is something that I look for in a community, and something I have been working towards building. 
            Generally, my idea for building a network is to be quick to say yes, and to be quick to offer help. If you do those things, 
            most of the time, people will happily reciprocate that.</p>
            <div class="rand grey">{{randInts}}</div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            timestamp: '',
            randInts: '',
            escapedChars: ['<','>']
        };
    },
    methods:{
        getNow: function() {
            const today = new Date();
            const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
            const time = today.getUTCHours() + ':' + today.getMinutes() + ':' + today.getSeconds();
            const dateTime = date +' '+ time + ' UTC';
            this.timestamp = dateTime;

            let n = Math.round((Math.random()*65534)).toString(16);
            this.randInts = '00000x'.substr(n.length) + n;
        },
        escapedHTMLTag(name,close){
            return `<${close?'/':''}${name}>`;
        }
    },
    created() {
        this.getNow();
        int = setInterval(this.getNow, 1000);
    },
    beforeDestroy(){
        clearInterval(int);
    },

};
let int = null;
</script>

<style lang='scss' scoped>
.networking{
    display: flex;
    align-items: center;
    justify-content: center;
    background:#000;
}
.response-header{
    font-size:16px;
    line-height: 14px;
    color:#aaa;
}
.grey{
    color:#555;
}
.rand{
    position:absolute;
    bottom:0.5em;
    right:1em;
}
.networking-text{
    width:50vw;
    max-height:80%;
    overflow-y: auto;
    background:#132b25aa;
    z-index: 1000;
    position: relative;
    color:#fff;
    padding:2em;
    padding-bottom: 4em;
    font-family: monospace;
    text-align: left;
    font-size:18px;
    h1{
        margin-top: 1em;
        font-family: monospace;
        font-weight: normal;
        font-size: 24px;
    }
    a {
        color:#fff;
    }

}
.particles{
    position:absolute;
    width:100%;
    height:100%;
}
</style>