<template>
    <div class="play main-content">
        <canvas width=100% height=100% ref="playarea" @mousedown="startdragging" @mousemove="mousemove" @mouseup="mouseup"></canvas>
        <img src="/bball.png" ref='bbal' style="display:none;">
        <div class="noclick water"></div>
        <div class="noclick sand"></div>
        <div class="noclick tree">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="plmain-text-container">
            <div class="plmain-text">
                <h1>Adding Play Into My Creative Practice</h1>
                <p>The addition of play into my everyday creative life would be a great boon. Bringing joy into it, 
                    and not being afraid to use more playful methods of ideation and inspiration would absolutely be
                    a huge help in allowing those ideas to flow more freely. By opening your mind to play, you can 
                    also open your mind to unconventional, and interesting new ideas, and use parts of your brain
                    not usually used. 
                </p>
            </div>
        </div>
    </div>
    
</template>

<script>
export default {
    data(){
        return{
            fps:0
        };
    },
    methods:{
        
        get_context(){
            return this.$refs.playarea.getContext('2d');
        },
        draw()
        {
            
            var context = this.get_context();

            // clear the canvas
            context.clearRect(0, 0, width, height);
            console.log(this.$refs);
            context.drawImage(this.$refs.bbal,coords.x,coords.y,radius,radius);
            // context.save();
            // context.fillStyle = 'rgb(0, 0, 255)';
  
            // // this draws the ball
            // context.beginPath();
            // context.arc(coords.x, coords.y, radius, 0, Math.PI*2, true); 
            // context.closePath();
            // context.fill();
            // context.restore();


  
            for (var i=0; i<objects.length; i++)
            {
                context.save();
    
                var o = objects[i];
                for (var j=0; j<o.points.length-1; j++)
                {
                    var p = o['points'][j];      
                    var p1 = o['points'][j+1];
                    context.moveTo( p.x, p.y );
                    context.lineTo(p1.x, p1.y);
                    context.stroke();

                }
                context.restore();
            }
  
            // draw the throw/force vector
            // if (throw_)
            // {
            //     context.save();
            //     context.moveTo(coords.x, coords.y);
            //     context.lineTo(throw_coords.x, throw_coords.y); 
            //     context.stroke();
            //     context.restore();
            // }
        },
        main()
        {
            // calculate time elpased since last run
            var t1 = new Date().getTime();
            var dt = t1-t0;  
            dt /= 1000.0;
            if (dt < timestep)
                dt = timestep;
  
            frame_counter.x += dt;
            frame_counter.y++;
  
            if (frame_counter.x > 1.0)
            {
                frame_counter.x = 0;
                this.fps=frame_counter.y + ' frames per second';
                frame_counter.y = 0;
            }
  
            t0 = t1;
  
            let resolved_force = do_forces(dt);
            move(dt, resolved_force);


            do_collision_detection();	  


            last_coords.x = coords.x;
            last_coords.y = coords.y;

            this.draw();
  
        },
        go()
        {
            t0 = new Date().getTime();
            timer = setInterval(this.main, timestep*10000);
        },
        stop(){
            clearInterval(timer);
            timer = null;
            accel = new Point(0,0);
            velocity = new Point(0,0);
        },
        startdragging(e)
        {
            // mouse input uses layerX in Firefox/chrome and offsetX in Opera.
            var x = e.layerX !== undefined? e.layerX : e.offsetX;
            var y = e.layerY !== undefined? e.layerY : e.offsetY;
  
            if (e.which == 1)
            {
                if (x >= coords.x-radius && x <= coords.x + radius && y >= coords.y-radius && y <= coords.y + radius)
                {
                    drag = true;
                    drag_coords = new Point(x,y);
                }

            } 
            else if (e.which == 3)
            {
                throw_ = true;
                throw_coords = new Point(x,y);
            }
  
            if (drag || throw_)
                this.stop();
  
            return false;
        },
        mousemove(e) {
            var x = e.layerX !== undefined? e.layerX : e.offsetX;
            var y = e.layerY !== undefined? e.layerY : e.offsetY;
            //   $('#coord_out').html( x + ", " + y);
            if (!drag && !throw_)
                return;
  
            if (throw_)
                throw_coords = new Point(x,y);
  
            else if (drag)
            {
                coords = new Point(x,y);
    
                var dx, dy;
                dx = x - drag_coords.x;
                dy = y - drag_coords.y;
                var dt = timestep;
                // scale this down a bit or it seems like the user has super-strength
                velocity = new Point(dx/dt*0.2, dy/dt * 0.2);
                drag_coords = new Point(x,y);
    
            }
  
            this.draw();
            return false;  
        },
        mouseup(e){
            if (!drag && !throw_)
                return;
  
            if (throw_)
            {
                var x = e.layerX !== undefined? e.layerX : e.offsetX;
                var y = e.layerY !== undefined? e.layerY : e.offsetY;
  
                // give it a bit more oomph.
                var scale = 10;
                var throw_vector_x = (coords.x-x)*scale;
                var throw_vector_y = (coords.y-y)*scale;
                var tmpOomph  = new Force(throw_vector_x, throw_vector_y, 0.10);
                forces.push(tmpOomph);

                throw_ = false;
                drag = false;
            }
            else if (drag)
                drag = false;
  
            this.go();
  
            return false;                      
        }
    },
    mounted(){
        this.$refs.playarea.width=window.innerWidth;
        this.$refs.playarea.height=window.innerHeight-70;
        width = window.innerWidth;
        height = window.innerHeight-70;
        this.draw();
        this.go();
        if (localStorage.getItem('reloaded')) {
        // The page was just reloaded. Clear the value from local storage
        // so that it will reload the next time this page is visited.
            localStorage.removeItem('reloaded');
        } else {
        // Set a flag so that we know not to reload the page twice.
            localStorage.setItem('reloaded', '1');
            location.reload();
        }
    },
    beforeDestroy(){
        this.stop();
    }
};
function Point(xIn,yIn) {
    this.x=xIn;
    this.y=yIn;
}

//Forces acting on the ball as array of:
//[x, y, time]  if time==false, the force is always present.
//time is a 'time to live', in seconds.

function Force(xIn, yIn, ttlIn) {
    this.x = xIn;
    
    this.y = yIn;
    
    this.ttl = ttlIn;
}
var timestep = 0.001;
// Absolute time at last timestep
var t0 = 0;

var timer = null; // setInterval return handle.
var width = 400; /// width of canvas 
var height = 400; // height of canvas
var frame_counter = new Point(0,0); // seconds, frames

///////////////////////////////
// Physical variables

// position, velocity and acceleration vectors
var coords = new Point(0,0);
var last_coords = new Point(0,0);
var velocity = new Point(0,0);
var accel = new Point(0,0);

// Damping due to impacts
var bounce_factor = 0.8;

var mass = 10;
var gravity = 10;
var radius = 50;

// Forces acting on the ball as array of:
// [x, y, time]  if time==false, the force is always present.
// time is a 'time to live', in seconds.
var forces = [];
forces.push(new Force(0, gravity*mass, false)); // gravity

// set initial position
coords = new Point(width/2, height/2);

/////////////
// User response related things
var drag = false;
var drag_coords = new Point(0,0);
var throw_ = true;
// throw/kick vector
var throw_coords = new Point(0,0);
console.log(throw_coords);
var objects = [];

function move(dt, resolved_force)
{  
    var coords_new = new Point(coords.x + velocity.x*dt + 0.5*accel.x*dt*dt, coords.y + velocity.y*dt + 0.5*accel.y*dt*dt);
    // f = ma          
    var accel_new = new Point( resolved_force.x/(mass*dt), resolved_force.y/(mass*dt));


    coords = coords_new;
  
    velocity = new Point(velocity.x + 0.5* (accel.x + accel_new.x)*dt, velocity.y + 0.5* (accel.y + accel_new.y)*dt);
  
    accel = accel_new;
    
}
function do_collision_detection() {
	
    if (coords.x <= radius)   {
        coords.x = radius;
        velocity.x *= -bounce_factor;
        velocity.y *= bounce_factor;
    }
  
    if (coords.x >= width-radius)   {
        coords.x = width-radius;
        velocity.x *= -bounce_factor;
        velocity.y *= bounce_factor;
    }
    if (coords.y <= radius)   {    
        coords.y = radius;
        velocity.x *= bounce_factor;
        velocity.y *= -bounce_factor;
    }
    if (coords.y > height-radius)   {
        coords.y = height-radius;  
        velocity.x *= bounce_factor;
        velocity.y*=-bounce_factor;
    }  
  
  
  
  
    // very primitive collision detection based on line intersection
    for(var i=0; i<objects.length; i++)   {
        var o = objects[i];
        for (var j=0; j<o.points.length-1; j++)     {
            var p = o.points[j];
            var p1 = o.points[j+1];
            var x1, x2, y1, y2;
      
            // http://mathworld.wolfram.com/Circle-LineIntersection.html
      
            // we normalise the lines so the circle is at 0,0
            x1 = p.x - coords.x;
            x2 = p1.x - coords.x;
            y1 = p.y - coords.y;
            y2 = p1.y - coords.y;
            var rsq = radius*radius;
            var d_x = x2 - x1;
            var d_y = y2 - y1;
            var d_r_sq = d_x*d_x + d_y*d_y;
            var D = x1 * y2 - x2 * y1;
            var Dsq = D*D;
            var determinant = rsq * d_r_sq - Dsq;
      
            // Check if there are solutions (i.e. an intersection)
            if (determinant >= 0)
            {
        
                // in reality, if we get to here there only MIGHT be an intersection. 
                // The line intersection check above assumes the line stretches out 
                // infinitely, so if this is not the case then we'd have to solve a 
                // pair of quadratics for x and y (see mathworld link) and check 
                // whether there exist solutions x and y such that x and y are between
                // the start/end point of our line.
                // this is omitted for simplicity and lines have been chosen such that
                // this is not an issue.
        
                // if there is an intersection we roll back the coordinates
                coords.x = last_coords.x;
                coords.y = last_coords.y;

                // and rebound the ball via its velocity.
        
                var vx = velocity.x;
                var vy = velocity.y;
                var m = Math.sqrt(vx*vx + vy*vy);
        
                var veloc_normalised = new Point(vx/m, vy/m);
                var line_normalised = new Point(d_x/Math.sqrt(d_r_sq), d_y/Math.sqrt(d_r_sq));
        
                // Angle of impact between velocity and line
                var angle = Math.atan2(line_normalised.y, line_normalised.x) - Math.atan2(veloc_normalised.y, veloc_normalised.x);
        
                // Angle to reflect/bounce
                var reflection = Math.PI + angle;
                // sin^2(x) + cos^2(x) = 1 so this is a normal vector, which we then 
                // scale up by the velocity's original
                // magnititude and then scale down according to the 
                // bounce_factor/damping.
                velocity.x = Math.sin(reflection) * m * bounce_factor;
                velocity.y = Math.cos(reflection) * m * bounce_factor;
            }      
        }
    }
}
function do_forces(dt)
{
    var resolved = new Force(0,0,false);
    var new_forces = [];
    for (var i=0; i<forces.length; i++)
    {
        var f = forces[i];

        if (f.ttl !== false)
            f.ttl -= dt;

        resolved.x += f.x;
        resolved.y += f.y;
        if (f.ttl < 0)
            continue;    
        new_forces.push(f);
    }
    forces = new_forces;
    return resolved;
}

</script>

<style lang='scss'>
$waves-height: 70px;
.play{
    background: #a0d0d1;
    .noclick{
        pointer-events: none;
    }
    .water{
        position:absolute;
        left:0;
        right:0;
        height:20px;
        background-size: 40px 40px;
        background-image: radial-gradient(
            circle at 20px -5px, transparent 22px, #2d90af 18px);
        bottom: $waves-height;
        background-repeat: repeat;
        &:before{
            position: absolute;
            content: "";
            background-color: #2d90af;
            height: $waves-height;
            width: 100vw;
            bottom:-$waves-height;
            left: 0;
        }
    }
    .sand{
        background-color: #efbd4a;
        width:40vw;
        height:$waves-height+20;
        position:absolute;
        bottom:0;
        border-radius: 0 100% 0 0;
        z-index: 5;
    }
    .tree{
        height: 500px;
        width: 500px;
        position: absolute;
        border:5px solid transparent;
        border-right: 50px solid #b8561f;
        bottom:-80px;
        border-radius: 50%;
        transform: rotate(50deg);
        left: -360px;
        z-index: 2;
        &>:nth-child(1){
            height: 120px;
            width:150px;
            position:absolute;
            border-top:40px solid #736d31;
            right:75px;
            border-radius: 50%;
            transform: rotate(-60deg);
            z-index: 1;
        }
        &>:nth-child(2){
            height: 100px;
            width:130px;
            position:absolute;
            border-top:40px solid #736d31;
            right:10px;
            top:-90px;
            border-radius: 50%;
            transform: rotate(-65deg);
            z-index: 1;
        }
        &>:nth-child(3){
            height: 100px;
            width:120px;
            position:absolute;
            border-top:40px solid #736d31;
            right:50px;
            
            border-radius: 50%;
            transform: rotate(-70deg);
            z-index: 1;
        }


    }
}
.plmain-text-container{
    position:fixed;
    top:0;
    left:0;
    pointer-events: none;
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .plmain-text{
        width:50vw;
        max-height:70vh;
    }
}
.boing{
    position:relative;
    width:100%;
    height:100%;
}
</style>