<!-- How could you get more things done? What do you want to do? -->
<template>
    <div class="productivity main-content">
        <todo-list />
    </div>
</template>

<script>
import TodoList from '../components/Todo.vue';
export default {
    components: { TodoList },

};
</script>

<style>
.productivity{
    display:flex;
    align-items: center;
    justify-content: center;
}
</style>