<template>
    <div class="the-abyss" :class="{illuminated:lit}">
        <div class="text-overlay">
            <h1>Publishing my work</h1>
            <p>My process for publishing and promoting my creative works often feels like shouting into an abyss. Most times when I do 
                try and promote something, it will make a small ripple in the community around me, my friends, family, and occasionally 
                the odd stranger. On the flip side, I have learned to decouple my sense of accomplishment by the reach of the project, 
                and instead focus on the personal impact it has made. 
            </p>
            <p>This is definitely something I will be working on. I have had 2 creative projects recently that reached a level of
                success when it came to this process. The biggest of which would be <a href="http://honested.itch.io/gmtk-2020">a project that, with
                the help of a few friends, was made in 48 hours for a game jam.</a> Being competitive in nature, and that competition revolving
                around community engagement and voting, it pushed us to really work on getting the word out there, and really pushing our game as much
                as possible. It worked, we ended up 40th out of 5371 games for community engagement. 
            </p>
            <p>That experience, while good for this project and integral to it, is not something that I will actively seek out. I am lucky
                that my creative practice does not require that kind of engagement for me to get satisfaction out of it. 
            </p>
        </div>
        <img src="lightbulb.svg"  class="lightbulb" :class="{illuminated:lit}">
        <img src="lightbulb.svg"  class="lightbulb blur" :class="{illuminated:lit}">
        <div class="lightbulb-cord" :class="{illuminated:lit}"></div>
        <div class="lightbulb-pull" ref='pull'  @click="toggle"></div>
        <div class="lightbulb-cord pull" ref='pullCord' @click="toggle"></div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            lit:false
        };
    },
    methods:{
        toggle() {
            this.$anime
                .timeline({easing: 'easeOutElastic',
                    duration: 250,
                    loop:2,
                    direction:'alternate'
                })
                .add({
                    targets:this.$refs.pull,
                    translateY:60,
                })
                .add({
                    targets:this.$refs.pullCord,
                    height:360,
                },0);
            window.setTimeout(()=> this.lit=!this.lit,100);
        }
    }
};
// todo: animate lightbulb transition
</script>

<style lang='scss'>
.lightbulb {
    position:fixed;
    height:3em;
    top:170px;
    left:275px;
    transform: rotate(180deg);
    opacity:0;
    transition: opacity 0.1s;
    &.illuminated{
        transition: opacity 0.4s;
        opacity:1;
    }
    &.blur{
        filter:blur(5px)
    }
}
.lightbulb-cord {
    position:fixed;
    background:#fff;
    top:0;
    left:297px;
    width:4px;
    height:170px;
    opacity:0;
    &.illuminated{
        transition: opacity 1s;
        opacity:1;
    }
    &.pull{
        left:256px;
        top:0px;
        height:300px;
        cursor: pointer;
        opacity: 1;
    }

}
.lightbulb-pull {
    position:fixed;
    width:10px;
    height:10px;
    border-radius: 100%;
    top:300px;
    left:250px;
    border:3px solid white;
    cursor: pointer;
}
.the-abyss{
    position: fixed;
    top:0;
    padding-top:4em;
    left:0;
    width:100vw;
    height:100%;
    color:#111;
    .text-overlay a{
        color:#111;
    }
    background: radial-gradient(circle at top 200px left 300px, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 20%, rgba(0,0,0,1) 100%);

    transition: background 2s;
    &.illuminated{
        background: radial-gradient(circle at top 200px left 300px, rgb(102, 41, 0) 0%, rgb(66, 25, 0) 20%, rgba(0,0,0,1) 100%);
        .text-overlay{
            color:#fff;
            a{
                color:#fff;
            }
        }
    }
    .text-overlay {
        width:50%;
        display: inline-block;
    }
}
</style>