<template>
    <div class="dayone" @mousemove="handleMouseMove">
        <creative-word v-for="word in words" :key="word" :text="word" :x="randomNumber(100,konvaSettings.width-200)"  :y="randomNumber(100,konvaSettings.height-100)" />
        <div class="overlay">
            <h1>Creativity</h1>
            <p>My relationship with the word creativity has always been fleeting, transient, and something that actively needs to be caught before it escapes. 
                It is a phenomonon that comes quickly, and then if left untouched, leaves just as quickly. This tenuous grasp on creativity causes
                wildly different levels of quality in works I do, and my satisfaction upon finishing the work. When I am able to catch one of those threads
                of creativity, of inspiration, it leads to a fufilling, satisfying, experience. But due to my work life being tied to that creative process, 
                it isn't uncommon that I have no creative spark for a project, so it ends up leaving me feeling empty. 
            </p>
        </div>
    </div>
</template>

<script>
// todo add in creativity text
// @ is an alias to /src
import Konva from 'konva';
import words from './creative.js';
import CreativeWord from '@/components/CreativeWord.vue';
export default {
    name: 'day-1',
    components:{
        CreativeWord
    },
    data() {
        return {
            konvaSettings:{
                width: window.innerWidth,
                height: window.innerHeight
            },
            filters: [Konva.Filters.Blur],
            mousePos:[0,0],
            words
        };
    
    },
    methods:{
        handleMouseMove(e){
            this.mousePos = [e.clientX,e.clientY];
            this.$mouse = this.mousePos;
            // console.log(e.evt.clientX);
        },
        randomNumber(lower,upper){
            return Math.floor(Math.random()*(upper-lower)+lower);
        }
    },
    computed: {
        
    },
};



</script>

<style lang="scss" scoped>
.dayone {
    background: #0c0c0c;
    position:absolute;
    top:0;
    left:0;
    z-index: 0;
    width:100vw;
    height:100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay {
    width:40%;
    background:#000000cc;
    color: #fff;
    padding: 3em;
    border-radius: 2em;
    backdrop-filter: blur(5px);
    z-index: 1001;

    h1{
       font-size:60px;
       font-family: 'Playfair Display';
       font-weight: normal;
       
       
    }
    p{
        margin-bottom: 2em;
        font-size: 20px;
        border-top:1px solid #aaa;
        padding-top:1em;
    }

}
</style>
