<template>
    <div class="weird">
        <div class="inner" :class="{wd:weirdToggle}">
            <h1>Making Things Weird</h1>
            <p>Something I often already do in my creative practice is to push the boundary of what is possible. 
                This often involves lots of experimentation of different methodologies, processes and new ideas. 
                My last few major projects have been a journey into map making, where I went away from my comfortable digital mediums. 
                The one before that was a foray into projection mapping, where I experimented with many different softwares and 
                aesthetics until I settled on the current implementation using Touch Designer, a software I had no experience with. 
                Every one before that, at the very least, I used technology or software I had never touched before. 
                As for making things weirder, I find that it's a balance that needs to be struck. If you make things too weird 
                then they become incomprehensable, but a small amount of weird is always good. 
            </p>
        </div>
        <div class="make-normal" @click="toggleWeird">{{weirdToggleText}}</div>
    </div>
</template>

<script>
// todo background
export default {
    data(){
        return {
            weirdToggle:true
        };
    },
    computed:{
        weirdToggleText(){
            return this.weirdToggle ? 'Things are too weird ->' : 'Make things weirder ->';
        }
    },
    methods:{
        toggleWeird(){
            this.weirdToggle = !this.weirdToggle;
        }
    }
};
</script>

<style lang='scss'>
.weird{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    background: radial-gradient(circle, rgb(40, 10, 70) 0%, rgb(20, 9, 22) 100%);
    
    .inner{
        &.wd{
            border-radius: 1em 1.5em 3em 0.2em;
            transform: rotate(30deg);
            font-family: symbol !important;
            overflow:visible;
            h1{
                font-family: symbol !important;
            }
            p{
                width:115%;
            }
        }

        border-radius: 2em;
        padding:2em;
        
        width:65vw;
        max-height:55vh;
        background:#1c1c1caa;
        overflow-y:auto;
        transition: all 1s ease;
        display: flex;
        align-items: center;
        
        p {
            font-size: 20px;
            border-left: 1px solid white;
            padding:1em;
            padding-left:3em;
            text-align: justify;
        }
        h1 {
            padding-right: 1em;

        }
    }
    .make-normal {
        position:fixed;
        bottom:2em;
        left:2em;
        background:#21bad1;
        padding:1em;
        cursor: pointer;
        border-radius: .5em;
    }
}
</style>