<template>
<div class="creative-word" :style="config">{{config.text}}</div>
    
</template>

<script>
export default {
    props:{
        x:{
            type:Number,
            required:true
        },
        y:{
            type:Number,
            required:true
        },
        text:{
            type:String,
            required:true
        }
    },
    computed:{
        config(){
            const width = 0;
            const height = 0;
            console.log(this.$mouse[0]-this.x);
            const left = Number(this.x)+'px';
            const top = this.y+'px';
            const blur = (computeDistance([this.x+width/2,this.y+height/2],this.$mouse)-80)/100;
            return {
                left,
                top,
                text: this.text,
                fontSize: 20,
                fontFamily: 'Playfair Display',
                color: 'white',
                align: 'center',
                filter:`blur(${blur}px)`,
                position:'fixed',
                'z-index':1000
            };
        }
        
    },
    
};
function computeDistance(a,b){
    return Math.hypot(Math.abs(a[0]-b[0]),Math.abs(a[1]-b[1]));
}
</script>
<style lang="scss">
.creative-word{
    pointer-events: none;
    cursor: default;
}
</style>
