<template>
    <div class="work">
        <div class="sub"><img :src="img1"><div class="overlay">{{leftText}}</div></div>
        <div class="sub"><img :src="img2" ><div class="overlay">{{rightText}}</div></div>
    </div>
</template>

<script>
export default {
    props:{
        img1:{
            type:String,
            required: true
        },
        img2:{
            type:String,
            required: true
        },
        leftText:{
            type:String,
            required:true
        },
        rightText:{
            type:String,
            required:true
        }
    }
};
</script>

<style lang='scss' scoped>
.work{
    height:100%;
    opacity:0.5;
    display:grid;
    position:relative;
    overflow: hidden;
    grid-template-columns: 50% 50%;
    &:hover {
        opacity: 1;
    }
    .sub{
        height:100%;
        img{
            width:100%;
            height:100%;
            object-fit:cover;
        }
        position:relative;
        .overlay{
            position:absolute;
            bottom: 1em;
            right: 0.5em;
        }
    }
}
</style>