<template>
    
  <div class="todo-container">
    <header class="current-date">
      <div class="date">
        <span class="day-number">{{ date.dayNum }}</span>
        <div class="month-year-wrapper">
          <span class="month">{{ date.month }}</span>
          <span class="year">{{ date.year }}</span>
        </div>
      </div>
      <div class="today"><span>{{ date.dayName }}</span></div>
    </header>
    <main class="todo-list">
      <ul class="tasks-container">
        <li class="task-container" v-for="(task,index) in tasks" :key='index' v-bind:class="{ checked: !task.state }">
          <p class="task">{{ task.name }}</p>
          <input type="radio" v-on:click="checkTask" />
        </li>
      </ul>
    </main>
    <button class="add-task-btn" v-on:click="addTask">
      <span>+</span>
    </button>
  </div>

</template>

<script>
import moment from 'moment';
export default {
    data: function() {
        return {
            tasks: [
                {name:'Using todo lists and apps to handle my workload really does help.',state:true},
                {name:'It adds a great amount of satisfaction, being able to check things off',state:true},
                {name:'And watch my total get lower and lower. ',state:true},
                {name:'I have found, when it comes to making myself productive, ',state:true},
                {name:'I need this level of regimented organization to really succeed',state:true},
                {name:'Eggs',state:false},
                {name:'There are some moments where a checklist is not appropriate',state:true},
                {name:'Especially when brainstorming a project.',state:true},
                {name:'I find that allowing my time to be a little more freeform here',state:true},
                {name:'works best. Once I am finished that though,',state:true},
                {name:'my next stop is directly into making a todo list',state:true},],
            task: '',
            date: {
                dayNum: '',
                month: '',
                year: '',
                dayName: ''
            }
        };
    },
    mounted: function() {
        this.getCurrentDay();
    },
    methods: {
        getCurrentDay: function() {
            const today = new Date();
            let dayName = moment(today).format('dddd');
      
            let [ monthDay, year ] = moment().format('ll').split(',');
            let [ month, day ] = monthDay.split(' ');
      
            month = month.toUpperCase();
            dayName = dayName.toUpperCase();
      
            this.date.dayNum = day;
            this.date.month = month;
            this.date.year = year;
            this.date.dayName = dayName;
        },
        addTask: function() {
            const inputTask = prompt('Add a new task');
            if(inputTask.trim()) {
                var objTask = {
                    name: inputTask,
                    state: true
                };
                this.tasks.unshift(objTask);
            }
        },
        checkTask: function(e){
            const taskElement = e.target.parentNode;
            taskElement.classList.toggle('checked');
        }
    },
    computed: {
    }

};
</script>

<style lang='scss' scoped>
$todo-bkg: #FFFFFF;
$text-color: #5F6271;
$text-unselected-color: #d7d7dc;
$control-color: #50E3A4;
.todo-container {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.18);
  height: 70vh; /*490px*/
  padding: 2em;
  position: relative;
  width: 50vw;
  color: $text-color;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

p {
  margin: 0;
}

.todo-container {
  background-color: $todo-bkg;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header .date {
  display: flex;
  justify-content: flex-start;
}

header .date .day-number {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  margin-right:0.5em;
}

header .date .month-year-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: .8em;
}

header .date .month-year-wrapper .month {
  font-weight: bold;
}

header .today {
  font-weight: 600;
}

/*TODO BODY*/
main.todo-list {
  margin-top: 1em;
}

main.todo-list .tasks-container {
  overflow-y: auto;
  max-height: 55vh; /*Scroll uando muestra el scroll*/
}

main.todo-list .tasks-container li.task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .7em;
}

li.task-container.checked p {
  color: $text-unselected-color;
  text-decoration: line-through;
  transition: all 500ms ease-in-out;
}

li.task-container.checked input {
  border-color: $control-color;
  transition: all 500ms ease-in-out;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  border: 3px solid $text-unselected-color;
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  outline: none;
}

button.add-task-btn {
  background-color: $control-color;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  height: 90px;
  width: 90px;
  position: absolute;
  bottom: -45px;
  left: calc(25vw - 45px);
  outline: none;
  transition: 200ms ease-in-out;
}

button.add-task-btn span {
  font-size: 3em;
  font-weight: bold;
  color: #46BE8B;
  font-family: none;
}

button.add-task-btn:active {
  transform: scale(.9);
}
</style>