<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">1</router-link> |
      <router-link to="/inspiration">2</router-link> |
      <router-link to="/weird">3</router-link> |
      <router-link to="/the-abyss">4</router-link> |
      <router-link to="/networking">5</router-link> |
      <router-link to="/minimal">6</router-link> |
      <router-link to="/money">7</router-link> |
      <router-link to="/play">8</router-link> |
      <router-link to="/productivity">9</router-link> |
      <router-link to="/final">10</router-link>
    </div>
    <router-view :key="$route.fullPath" />
    <img src="/logo.png" alt="" class="logo">
  </div>
</template>

<style>

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.logo{
  filter:invert(.5);
  position:fixed;
  top:1em;
  left:1em;
  height:3em;
}
body {
  padding:0;
  margin:0;
  background: #fff;
}
h1{
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size:50px;
  margin:0;
}
p{
  font-size:20px;
}
.main-content{
  width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  z-index: 2;
  position: relative;
}

a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #ad5389;
}
</style>
<script>
export default {
    mounted(){
        window.document.title = 'Your Creative Self: Lucas Teng';
    }
};
</script>